# Ignore virtual environment
venv/

# Ignore database files
*.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore sensitive information
*.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/