@import "general.css";

h1 {
  margin: 0;
  color: var(--navbar-color);
}

.form-container {
  display: flex;
  min-height: 77vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: center;
  border-radius: 1em;
  margin: 2em;
  padding: 2em 3em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

form label {
  color: var(--navbar-color);
}

form input,
textarea {
  margin-top: 0.5em;
  width: 30em;
  height: 2em;
  font-family: var(--font);
  color: var(--navbar-color);
  border-radius: 0.7em;
  border-width: 0.16em;
  border-style: outset;
  border-color: rgb(188, 188, 188);
  padding: 0 1em;
}

form input:focus,
textarea:focus {
  outline: none;
}

textarea {
  height: 10em;
  display: flex;
  align-items: baseline;
  justify-content: start;
  text-wrap: wrap;
  resize: none;
  padding: 1em 1em;
}

#drawing,
#pfp,
#cover {
  display: none;
}

.input-field label {
  display: flex;
  width: 100%;
  justify-content: center;
}

.drawing_label,
.pfp_label,
.cover_label {
  cursor: pointer;
  background-color: rgb(189, 189, 189);
  height: 10em;
  width: 26em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
  margin-top: 1em;
}

.drawing_label svg,
.pfp_label svg,
.cover_label svg {
  height: 2em;
  fill: white;
}

.drawing-preview,
.pfp-preview,
.cover-preview {
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.8em;
  max-width: 26em;
  margin-top: 1em;
}

.cover_label {
  position: absolute;
}

.cover-preview {
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.drawing-preview > img,
.cover-preview > img {
  width: 100%;
}

.create-button {
  margin: 0.3em;
}

.create-button > * {
  padding-left: 3em;
  padding-right: 3em;
}

.pfp_label,
.pfp-preview {
  height: 12em;
  width: 12em;
  border-radius: 10em;
  position: relative;
  top: 2em;
  border: 0.6em solid white;
  margin-bottom: 3em;
}

.pfp-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

form h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(66, 66, 66);
}

.links {
  margin-top: 0;
  margin-bottom: 0;
}

.color-input-label {
  margin-bottom: 0.2em;
}

.color-input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0.2em 0;
}

.color-input input {
  width: 20em;
  margin: 0;
}

.color-preview {
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.2em;
  margin-right: 0.5em;
}

#submit-button {
  display: none;
}

.wrong {
  display: flex;
  justify-content: center;
  color: rgb(175, 99, 142);
}
