@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    /* BODY */
    --body-color: rgb(231, 231, 231);

    /* NAVBAR */
    --navbar-color: rgb(87, 87, 87);
    --logo-height: 9vh;
    --logo-text-height: 3vh;
    --pfp-height: 6vh;
    --items-margin: 0.8em;
    --accent-color: white;
    --accent-hover-color: rgba(255, 255, 255, 0.69);

    /* PROFILE CARDS */
    --h1-color: var(--navbar-color);
    --card-color: white;
    --card-width: 30rem;
    --profile-card-pfp-size: 6rem;
    --profile-card-post-size: 8rem;
    --profile-card-text-color: var(--navbar-color);
    --cover-height: 6rem;
  }

html {
  overflow-x: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--body-color);
}

body * {
  text-decoration: none;
}