@media (max-width: 1100px) {
  .logo-text {
    display: none;
  }

  .profile-card {
    width: 98vw;
  }

  .post {
    width: 80vw;
    height: 80vw;
  }

  .info-top {
    flex-direction: column;
  }

  .info-left {
    max-width: 90vw;
  }

  .info-right {
    width: 80vw;
  }

  .form-container,
  .form-background,
  form {
    width: 87vw;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .input-field,
  .input-field input,
  .input-field textarea {
    width: 70vw;
  }

  .edit-button-div {
    width: 90vw;
  }

  .post-details-image {
    width: 90vw;
    height: auto;
  }
  .post-details-image img {
    width: 100%;
    height: auto;
  }
}
