@import "general.css";

.navbar {
  background-color: var(--navbar-color);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.314);
  align-items: center;
  padding: 2vh 3vw;
  z-index: 10;
}

.navbar button {
  margin-left: var(--items-margin);
}

.logo > a {
  display: flex;
  align-items: center;
}

.logo-image {
  height: var(--logo-height);
  margin-right: var(--items-margin);
}

.logo-text {
  height: var(--logo-text-height);
}

.navbar-pfp {
  height: var(--navbar-pfp-height);
  width: var(--navbar-pfp-height);
  overflow: hidden;
  border-radius: 100%;
  margin-left: var(--items-margin);
}

.saved {
  margin-left: var(--items-margin);
  height: 1.6em;
  fill: var(--accent-color);
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.saved:hover {
  fill: var(--accent-hover-color);
}

.right {
  display: flex;
  align-items: center;
}

.logged-in {
  display: flex;
  align-items: center;
}
