@import "general.css";

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6vh 3vw;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vw;
  width: 25vw;
  margin: 2vh;
  overflow: hidden;
  border-radius: 0.8em;
  background-color: rgb(212, 212, 212);
}

.post img {
  transition: ease-in-out 0.3s;
}

.post .long:hover {
  height: 110%;
}

.post .tall:hover {
  width: 110%;
}

.no-posts {
  color: rgb(162, 162, 162);
}
