@import "general.css";

.profile-username,
.profile-username * {
  margin: 0 0 0.3em 0.3em;
  font-size: 1.4em;
  text-transform: uppercase;
  color: var(--profile-card-text-color);
}

.username-and-save {
  display: flex;
  justify-content: space-between;
  width: var(--profile-username-and-save-width);
}

.profile {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-sections {
  display: flex;
  justify-content: space-between;
  width: var(--profile-sections-width);
}

.profile-section {
  color: var(--profile-save-color);
  transition: all ease-in-out 200ms;
}

.profile-section:hover {
  color: var(--profile-save-hover-color);
}

.profile-icon {
  margin-left: var(--items-margin);
  height: var(--profile-save-height);
  fill: var(--profile-save-color);
  transition: all ease-in-out 200ms;
}

.profile-icon:hover {
  fill: var(--profile-save-hover-color);
}

.profile-cover {
  background-color: rgb(162, 162, 162);
  height: var(--profile-cover-height);
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.profile-cover img {
  width: 100%;
}

.profile-pfp-and-username {
  display: flex;
  align-items: center;
  margin-left: 1.6em;
}

.profile-username {
  padding-bottom: 2em;
}

.profile-pfp {
  height: var(--profile-card-pfp-size);
  width: var(--profile-card-pfp-size);
  background-color: rgb(214, 214, 214);
  overflow: hidden;
  border-radius: 100%;
  margin-right: 0.6em;
  border: 0.3em solid var(--card-color);
  position: relative;
  top: -2rem;
}
